<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Team Builder</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn-icons-png.flaticon.com/512/2037/2037737.png" rel="icon">  
  </head>
  <body>
    <div class="section-form">
    <form method="post" action="#">
        <div class="intro">
            <h2>Tell about your idea</h2>
        </div><input type="text" value="" placeholder="Your Tech Stacks" name="name" tabindex="1" /><input type="text" value="" placeholder="Topic of your idea" name="email" tabindex="3" /><textarea placeholder="Tell about your idea in one or two lines" name="Message" tabindex="5" rows="10"></textarea><input type="button" value="Submit" tabindex="10" />
    </form>
</div>
    
    <script src="script.js"></script>
  </body>
</html>