<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Team Builder</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn-icons-png.flaticon.com/512/2037/2037737.png" rel="icon">  
  </head>
  <body bgcolor="#1f1734">
    <div class="section-form">
    <form method="post" action="#" id="form_Element" >
        <div class="intro">
         <h2>Tell about your idea</h2>
        </div>

        <input id="idea-title" type="text" value="" placeholder="Title of your idea" name="email" tabindex="3" />
        <textarea id="description" placeholder="Tell about your idea in one or two lines" name="Message" tabindex="5" rows="10"></textarea>
        logo <br>

        <label class="button-image" for="logo-input">
        </label>
        <input  id="logo-input" type="file" name="image" accept="image/*" capture="camera" />
     
        <button type="submit" tabindex="10" >Submit</button>
    </form>
</div>
    
    <script  type="module" src="script.js"></script>
  </body>
</html>