@import "compass/css3";
 * {
	 box-sizing: border-box;
}
 html {
	 font-family: 'Lato', sans-serif;
}
 .section-form {
	 width: 37em;
	 margin: 3em auto;
	 background-color: #f3efe7;
	 padding: 2em;
}
 .section-form .intro {
	 margin-bottom: 2em;
}
 .section-form h1 {
	 text-align: center;
	 font-size: 1.6em;
	 margin-bottom: 0.6em;
}
 .section-form h2 {
	 text-align: center;
	 font-size: 1.2307692308em;
}
 input[type=text] {
	 height: 45px;
}
 input[type=text], textarea {
	 width: 100%;
	 margin-bottom: 1em;
	 font-size: 0.9em;
   font-family: 'Lato', sans-serif;
	 color: #cfcece;
	 font-weight: 300;
	 padding: 0.5em 1em;
	 border: none;
	 color: #555;
	 font-weight: 300;
}
button {
	 cursor: pointer;
	 margin: 0;
	 padding: 0.5em 2em;
	 background: #636363;
	 border: none;
	 color: #fff;
	 font-size: 1em;
	 font-weight: 400;
}
 
