.form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}
.form-row {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.form-row.flex-row {
  flex-direction: row;
  gap: 25px;
}
.form-row > label {
  text-transform: uppercase;
  font-size: 14px;
}
.form-row > input {
  line-height: 40px;
  font-size: 20px;
  border: none;
  border-bottom: 1px solid #ccc;
}
.form-row > input::placeholder {
  color: #ccc;
  font-style: italic;
}
.form-row > button {
  padding-left: 50px;
  padding-right: 50px;
  line-height: 40px;
  font-size: 20px;
  background: #015cda;
  background: linear-gradient(47deg, #234ad5 0%, #0265de 100%);
  color: #fff;
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 #0005;
  cursor: pointer;
}
.form-row > button:hover {
  box-shadow: 0 4px 8px 0 #0008;
}
.form-row > span {
  line-height: 40px;
  font-size: 18px;
}
.form-row > a {
  line-height: 40px;
  font-size: 18px;
  text-decoration: none;
  color: #015cda;
}
.form-row > a:hover {
  text-decoration: underline;
}
