body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.background {
  display: inline-block;
  width: 100%;
  height: 100vh;
  background-image: url(../img/img4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(20px);
}




.hide{
  display: none;
}



main {
  display: inline-block;
  width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  display: inline-block;
  width: 50%;
  height: 60px;
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}

.logo-text{
  display: inline-flex;
  width: 50%;
  bottom: 50px;
  height: 50px;
}

.left-column {
  width: 40%;
  float: left;
  padding: 40px;
  background-color: #4232a0;
  color: #fff;
  background-image: url(../img/img4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 30px;
  bottom: 30px;
  left: 0;
  margin-left: 15%;
  
}


.bottom-links {
  position: absolute;
  left: 40px;
  right: 40px;
  bottom: 20px;
}
.bottom-links > a {
  color: #fff;
}
.bottom-links > span {
}

.main-title {
  font-size: 40px;
  line-height: 50px;
}

.s-title {
  font-size: 35px;
}

.fg-title {
  font-size: 28px;
  line-height: 35px;
  margin-top: -20px;
  margin-left: -10px;
}

.right-column {
  width: 60%;
  float: right;
  padding: 60px;
  background-color: #fff;
  position: relative;
}
@media screen and (max-width: 768px) {
  .right-column{
    display: none;
  }
  .hide { display:block; 
    padding-left: 50px;
    padding-right: 50px;
    line-height: 40px;
    font-size: 20px;
    background: #015cda;
    background: linear-gradient(47deg, #234ad5 0%, #0265de 100%);
    color: #fff;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 #0005;
    cursor: pointer;
  
  }
  .left-column{
    width: 100%;
    margin-left: 30%;
    margin-top: 20%;

  }
  .logo-text{
    width: auto;
  }
  .logo{
    width: auto;
  }
  
}

@media only screen and (min-width: 992px)
{
  .modal{
    display: none;
  }
   
  }
.close {
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 54px;
  text-align: center;
  font-size: 30px;
  position: absolute;
  right: 0;
  top: 0;
}

#signin {
  right: 100px;
  position: absolute;
  bottom: 70px;
}

#sign {
  right: 100px;
  position: absolute;
  bottom: 20px;
}
