<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="request.css">
</head>

<body>
    <div class="req">
        <p>Requests to join your Team</p>
    </div>

    <div class="btn">
        <button id="back" onclick="history.back()" class="slide">Dashboard</button>
    </div>

    <div class="request_container">
        
        
        
    </div>

    <script type="module" src="/views/Team-Builder-Dashboard/requests/request-page.js"></script>
</body>

</html>


