<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../favicon.png" type="image/png">
    <title>Sign in</title>
    <link rel="stylesheet" href="/views/Team-Builder-Login/css/main.css">
    <link rel="stylesheet" href="/views/Team-Builder-Login/css/form.css">
</head>

<body>
    <div class="logo">
        <div class="logo-text">  
            <p> <br> &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; Team Builder </p>
        </div>
      </div>
      <br><br>
    <div class="background"></div>
    <main>
        <div class="left-column">
            <h1 class="s-title">Sign in</h1>
            <div class="bottom-links">
                <a href="#">Privacy policy</a>
                <span>&amp;</span>
                <a href="#">terms of service</a>
            </div>
        </div>
        <div class="right-column">
            <div class="close">x</div>
            <form class="form" action="/dashboard" method="post">
                <div class="form-row">
                    <label for="username">Username</label>
                    <input name="username" id="username" placeholder="Your username goes here..." type="text" required>
                </div>
                <div class="form-row">
                    <label for="pass">Password</label>
                    <input name="password" id="password" placeholder="Password" type="password" required>
                </div>
                <div class="form-row flex-row">
                    <button type="submit">Login</button>
                    <span>or</span>
                    <a href="../forgot-password/index.html">Forgot password?</a>
                </div>
            </form>
        </div>
    </main>
</body>


</html>