<html>
    <head>
     <link rel="stylesheet" href="./team-info.css">
    </head>
    <body>
     

         <p id="team_name"></p>

         <button id="back" onclick="history.back()">Dashboard</button>

         <div class="back">
             <div class="leader">
                <p class="head"> Team Leader : </p><p id="leader"></p>
             </div>
             <div class="description">
                <p class="head"> Description : </p><p id="description"></p> 
              </div>

              <div class="members">
                Members
                <ul id="members">
                
    
                </ul>
            </div>
              

         </div>
        
    </body>

    <script type="module" src="/views/Team-Builder-Dashboard/team-info-page/team-info.js"></script>

</html>