<html>
    <head>
     <link rel="stylesheet" href="./team-info.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

   </head>
    <body>
      <button id="back" onclick="history.back()">Dashboard</button>

         <p id="team_name">
         </p>

        <br><br> 

         <div class="back" style="overflow-x: auto;">
             <div class="leader">
                <p class="head"> Team Leader : </p><p id="leader"></p>
             </div>
             <div class="description">
                <p class="head"> Description : </p><p id="description"></p> 
              </div>

              <div class="members">
                Members
                <ul id="members">
                
    
                </ul>
            </div>
              

         </div>
        
    </body>

    <script type="module" src="/views/Team-Builder-Dashboard/team-info-page/team-info.js"></script>

</html>