<html>
  <head>
    <link rel="stylesheet" href="./team-info.css" />
  </head>
  <body>
    <main class="container">
      <p class="team_name">Meet the Team</p>
      <div class="leader-profile">
        <div class="leader">
          <p class="head">Team Leader :</p>
          <p id="leader"></p>
        </div>
        <div class="description">
          <p class="head">Description :</p>
          <p class="description"></p>
        </div>

        <div class="members">
          Members
          <ul id="members"></ul>
        </div>
      </div>
      <button class="back" onclick="history.back()">Dashboard</button>
    </main>
  </body>

  <script
    type="module"
    src="/views/Team-Builder-Dashboard/team-info-page/team-info.js"
  ></script>
</html>
