<html>

<head>
    <link rel="stylesheet" href="./idea-info.css">
</head>

    <body>
        <button id="back" onclick="history.back()">Dashboard</button>
    
       
          <img id="img">
           
          <p  id="title">

           <div class="back">
            <div class="author">
                <p id="author">Idea Author :&nbsp;</p>  <p id="admin"></p>
            </div>
            </p>

            
              <p class="head">Description : </p>
              <p id="description">
                
              </p>
           </div>

        
     <button id="join_btn">Join</button>
   

        <script>
            var myidea = '<%= idea %>';
        </script>
    </body>
    <script type="module" src="/views/Team-Builder-Dashboard/idea-info-page/idea-info.js"></script>
</html>