<html>
    <body>
        <center>


        
        This is idea page (temporary page need to redesign completly)
 <!-- you have to designit showing nicely
     description, idea-title,
     and may be more info...
     please change all ui ..

      for now deta fetched is as follows -->
        <br>
        <br>
         this idea is proposed by <p id="admin"></p> 
        <br>
       title :
      <p style="height: 50px; width: 50px;  display: block;" id="title">
      
      </p>
       <br>
     logo :
       <img style="height: 50px; width: 50px; display: block; " id="img">
       
       <br>
       <br> <br> <br>
          description : 
          <p style="height: 50px; width: 50px;  display: block; " id="description">
      
          </p>
     <br>
     <br>
     <br>
     <br>
     <button id="join_btn">Join</button>
   

        <script>
            var myidea = '<%= idea %>';
        </script>
    </body>
    <script type="module" src="/views/Team-Builder-Dashboard/idea-info-page/idea-info.js"></script>
</html>