<html>
    <body>
        <center>


        
        This is idea page (temporary heading)
 <!-- you have to designit showing nicely
     description, idea-title,
     and may be more info...
     please change all ui ..

      for now deta fetched is as follows -->
        <br>
       title :
      <div style="height: 50px; width: 50px; float: right; display: block; margin-right: 500px;" id="title">
      
       </div>
       <br>
     logo :
       <img style="height: 50px; width: 50px; float: right; display: block; margin-right: 500px;" id="img">
       
       <br>
       <br> <br> <br>
          description : 
          <div style="height: 50px; width: 50px; float: right; display: block; margin-right: 500px;" id="description">
      
         </div>
     <br>

        <script>
            var myidea = '<%= idea %>';
        </script>
    </body>
    <script type="module" src="/views/Team-Builder-Dashboard/idea-info-page/idea-info.js"></script>
</html>